<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJhl7_CCHubLL8hHsEUbxWGaKuPZLrWTA</string>
	<key>GCM_SENDER_ID</key>
	<string>692847091941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beinghuman</string>
	<key>PROJECT_ID</key>
	<string>beinghuman-79d2e</string>
	<key>STORAGE_BUCKET</key>
	<string>beinghuman-79d2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692847091941:ios:b2e26f7697c1f7bfd2b40c</string>
</dict>
</plist>